# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled files
packages/dapp/scripts
packages/dapp/src/environment.ts
packages/dapp/dist
packages/dapp/test/coverage-jest
packages/dapp/packages/dapp/test/coverage-jest/
packages/dapp/config/map.json

#local deployments
packages/hardhat-ts/deployments/localhost/*
package-lock.json
yarn.lock
