@import "styles/styles.scss";

.page {
  position: relative;

  .sidebar {
    $width: 300px;

    position: fixed;
    height: 100vh;
    width: $width;
    top: 0;
    right: 0;
    z-index: 9;
    transition: .3s;

    &.closed {
      margin-right: -#{$width};
    }

    .sidebar-button {
      position: absolute;
      margin-left: -50px;
      margin-top: 70px;
    }

    .sidebar-content {
      height: 100%;
      padding: 24px 12px;
      background-color: pink;
      overflow-y: auto;
      box-sizing: border-box;

      h2, h3 {
        color: black;
      }
    }
  }

  .map-wrap {
    position: relative;
    width: 100%;
    height: 650px; /* calculate height of the screen minus the heading */

    .edition-tools {
      position: absolute;
      top: 100px;
      left: 20px;
      background-color: lightgray;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 99;
    }

    .modify-help {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 20px;
      background-color: lightgray;
      color: black;
      z-index: 99;

      p {
        margin: 0;
      }
    }

    .map {
      width: 100%;
      height: 100%;
    }
  }

  #undo-button {
    position: absolute;
    bottom: 250px;
    right: 20px;
    z-index: 999;
  }

  #start-edition {
    position: absolute;
    bottom: 200px;
    right: 20px;
    z-index: 999;
  }

  #finish-edition {
    position: absolute;
    bottom: 150px;
    right: 20px;
    z-index: 999;
  }

  #cancel-edition {
    position: absolute;
    bottom: 100px;
    right: 20px;
    z-index: 999;
  }

  #toggle-basemap {
    position: absolute;
    bottom: 50px;
    right: 20px;
    z-index: 999;
  }

  #feature-data-box {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;

    #feature-data {
      color: black;
    }
  }

  #form-data {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  .watermark {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 999;
  }
}
